[Desktop Entry]
Version=1.0
Type=Application
Categories=Science;Electronics;Engineering
Name=bCNC
Comment=bCNC Controller
Exec=bCNC
Icon=bCNC
Keywords=CNC;PCB;
