[Desktop Entry]
Version=1.0
Type=Application
Categories=Science;Electronics;Engineering
Name=bCNC
Comment=bCNC Controller
Exec=bCNC
Icon=bCNC.png
Keywords=CNC;PCB;
Path=
Terminal=true
StartupNotify=false
Name[en_US]=bCNC
